.crudcontainer{
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	height: auto;
    border-radius: 25px;
    justify-content: space-between;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    margin: auto;
}

.crudcontainer label {
    color:#1BBA93;
    font-size: 17px;
    font-weight: bold;
  }
.crudcontainer input {
    width:250px;
    font-size: 17px;
    box-sizing: border-box;
    height: 34px;
    padding: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid green;
    border-radius: 4px;
    background: white;
    outline: none;
}
.crudcontainer button{
    margin: 40px;
}


table {
    margin: 0 auto 5rem auto ;
    width: 60%;
    border: 2px solid black;
    text-align: center;
}

.tableTitle{
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}
.search{
    display: flex;
    justify-content: center;
    padding: 10px;
}